######################## default configuration ####################
baseURL = "https://covidstudentresponse.org/"
title = "COVID-19 Student Response"
theme = "educenter-hugo"
# post pagination
paginate = "6"
# post excerpt
summaryLength = "10"
# disqus short name
disqusShortname = "" # get your shortname form here : https://disqus.com
# disable language
disableLanguages = [] # desable language from here


############################# Plugins ##############################

# CSS Plugins
[[params.plugins.css]]
link = "plugins/bootstrap/bootstrap.min.css"
[[params.plugins.css]]
link = "plugins/slick/slick.css"
[[params.plugins.css]]
link = "plugins/animate/animate.css"
[[params.plugins.css]]
link = "plugins/venobox/venobox.css"
[[params.plugins.css]]
link = "plugins/themify-icons/themify-icons.css"

# JS Plugins
[[params.plugins.js]]
link = "plugins/jQuery/jquery.min.js"
[[params.plugins.js]]
link = "plugins/bootstrap/bootstrap.min.js"
[[params.plugins.js]]
link = "plugins/slick/slick.min.js"
[[params.plugins.js]]
link = "plugins/venobox/venobox.min.js"
[[params.plugins.js]]
link = "plugins/filterizr/jquery.filterizr.min.js"
[[params.plugins.js]]
link = "plugins/google-map/gmap.js"


############################## navigation ###############################

# main menu
[[menu.main]]
name = "About"
# URL = "about"
weight = 1
hasChildren = true

  [[menu.main]]
  parent = "About"
  name = "About us"
  URL = "about"

  [[menu.main]]
  parent = "About"
  name = "Community Activism"
  URL = "about/comm-activism"

  [[menu.main]]
  parent = "About"
  name = "Medical Activism"
  URL = "about/med-activism"

  [[menu.main]]
  parent = "About"
  name = "Community Education"
  URL = "about/comm-ed"

  [[menu.main]]
  parent = "About"
  name = "Medical Education"
  URL = "about/med-ed"

[[menu.main]]
weight = 3
name = "Curriculum"
URL = "https://futuremdvscovid.gitbook.io/covid19-curriculum/"

[[menu.main]]
weight = 4
name = "In the News"
URL = "news"
  
[[menu.main]]
name = "Resources"
# URL = "resources"
weight = 4

  [[menu.main]]
  parent = "Resources"
  name = "Fact sheets"
  URL = "fact-sheets"
  
[[menu.main]]
name = "Contact"
URL = "contact"
weight = 5


# footer menu

[[menu.footer]]
name = "teacher"
URL = "teacher"

[[menu.footer]]
name = "notice"
URL = "notice"

[[menu.footer]]
name = "event"
URL = "event"

[[menu.footer]]
name = "scholarship"
URL = "scholarship"

[[menu.footer]]
name = "research"
URL = "research"


#################### default parameters ################################
[params]
logo = "images/logo.png"
# Meta data
description = "Coordinating the medical student response to COVID-19"
author = "Benjamin Levy"
# contact info
email = "hmscovid19studentresponse@gmail.com"
# contact form action
contact_form_action = "#" # contact form works with https://formspree.io
# Google Analitycs
google_analitycs_id = "" # your id
# top header
top_header = true

# Preloader
[params.preloader]
enable = false
preloader = "images/preloader.gif" # use jpg, png, svg or gif format.

# Subscription
[params.subscription]
enable = false
# mailchimp subsciption
mailchimp_form_action = "" # replace this url with yours
mailchimp_form_name = "" # replace this code with yours

# google map
[params.map]
enable = false
gmap_api = ""
map_latitude = ""
map_longitude = ""
map_marker = "images/marker.png"
  
############################# social site ########################
[[params.social]]
title = "twitter"
icon = "ti-twitter-alt" # themify icon : https://themify.me/themify-icons
link = "https://twitter.com/FutureMDvsCOVID"

[[params.social]]
title = "instagram"
icon = "ti-instagram" # themify icon : https://themify.me/themify-icons
link = "https://www.instagram.com/futuremdvscovid/"

[[params.social]]
title = "facebook"
icon = "ti-facebook"
link = "https://www.facebook.com/futureMDvsCOVID/"


################################### English language #####################################
[Languages.en]
languageName = "En"
languageCode = "en-us"
contentDir = "content/english"
weight = 1
home = "Home"
# copyright
copyright = "Website copyright &copy; 2020 [Benjamin Levy](https://benlevyx.github.io)"
