// Table of contents
.table-of-contents {
    position: sticky;
    top: 10rem;
    align-self: start;
    grid-template-columns: 100% 15em;

  ul {
    li {
      list-style-type: none;
      padding: 1em;

      a {
        color: $text-color-light;
        font-size: 20px;
      }
    }
    li.active {
      a {
        color: $text-color;
        font-weight: 900;
      }
    }
  }
}