<div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
  <div style="display:inline-block; position: relative; width:100%;">
    <div style="margin-top:75%;"></div>
    <img class="card-img-top rounded-0" style="position:absolute; max-height: 100%; top:0; bottom:0; right: 0; left: 0; object-fit: cover; object-position: top;" src="{{ .Params.Image | relURL }}" alt="{{ .Title }}">
  </div>
  <div class="card-body">
    <h4 class="card-title"><a href="{{ with .Params.extURL }}{{ . }}{{ else }}{{ .Permalink }}{{ end }}">{{ .Title }}</a></h4>
    <p class="card-text">{{ .Summary | truncate 100 }}</p>
  </div>
</div>