---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: document
  path: config.toml
  label: config
  read_only: true
- type: document
  path: data/en/homepage.yml
  label: homepage
- type: directory
  path: content/english/news
  label: news
  create: all
  match: "**/*.md"
- type: directory
  path: content/english/resources
  label: resources
  create: all
  match: "**/*.md"
- type: directory
  path: content/english/campaigns
  label: campaigns
  create: all
  match: "**/*.md"
- type: directory
  path: static/files
  label: Static files
  create: all
  match: "**/*"
upload_dir: uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  install_dependencies_command: npm install
  preview_docker_image: node:10
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run forestry:preview
