{{ define "main" }}

<!-- section -->
<section class="section-sm">
  <div class="container">
    {{ if .Params.Image }}
    <div class="row">
      <div class="col-12 mb-4">
        <!-- course thumb -->
        <img style="height: 500px;width: 100%;object-fit: contain;" src="{{ .Params.Image | relURL }}"
          class="img-fluid w-100">
      </div>
    </div>
    {{ end }}
    <!-- course info -->
    <div class="row align-items-center mb-5">
      <div class="col">
        <h2>{{ .Title }}</h2>
      </div>
      <!-- border -->
      <div class="col-12 mt-4 order-4">
        <div class="border-bottom border-primary"></div>
      </div>
    </div>
    <!-- course details -->
    <div class="row">
      <div class="col-12 mb-4 content">
        {{ .Content }}
      </div>
      <!-- teacher -->
      <div class="col-12">
        <h3 class="mb-3">Leads</h3>
        {{ range .Params.Leads }}
        <div>
          <h4>{{ . }}</h4>
        </div>
        {{ end }}
        <div class="border-bottom border-primary mt-4"></div>
      </div>
    </div>
  </div>
</section>
<!-- /section -->

{{ end }}